# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
dist-ssr/

# Environment files
.env
.env.local
.env.development
.env.test
.env.production
.env.spaces

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/*
!uploads/.gitkeep

# TON
ton-keys/
